@charset "utf-8";
body {
	display: flex;
    flex-direction: column;
	min-height: 100vh;
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
	color: #2E4F21;
	font-weight: 400;
	letter-spacing: -0.045em;
	line-height: 1.05;
	background: #F9F9F9;
}

main {
	flex: 1;
}

img {
	width: 100%;
}

h2 {
	font-size: 60px;
	letter-spacing: -0.07em;
}

h3 {
	margin: 0 0 40px 0;
	font-size: 40px;
}

a {
	font-size: 12px;
}

.btn {
	display: inline-block;
	padding: 0 12px;
	border-radius: 50vh;
	color: #fff;
	background: #2E4F21;
	line-height: 37px;
	transition:  0.6s;
}

.btn:hover {
	color: #2E4F21;
	background: #A0F1BD;
}

/* max幅を1500に */
.inner {
	max-width: 1500px;
	margin: 0 auto;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 101px;
	padding: 0 40px;
	background: #A0F1BD;
}

.logo img {
	width: auto;
	height: 15px;
}

.nav__list {
	display: flex;
	gap: 20px;
	align-items: center;
}

header .btn:hover {
	background: #fff;
}

.sp-only {
	display: none;
}

/* hero */
.hero {
	padding: 100px 40px;
	background: #A0F1BD;
	border-radius: 0 0 16px 16px;
}

.hero__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

.hero__text {
	width: 60%;
}

.hero__title {
	font-size: 80px;
}

.hero__wrap p {
	margin: 24px 0 0 0;
}

.hero a {
    margin: 50px 0 0 0;
}

.hero .btn:hover {
	background: #fff;
}

.hero__img {
	width: 40%;
}

/* services */
.services__inner {
	padding: 120px 40px 100px;
	text-align: center;
}

.services h2 {
	margin: 28px 0;
}

.services a {
	margin: 28px 0 0 0;
}

/* services item */
.services__block {
	padding: 20px;
}

.services__item {
	display: flex;
	justify-content: space-between;
	gap: 70px;
	width: 80%;
	padding: 80px;
	background: #D2F8DC;
	border-radius: 20px;
	align-items: center;
}

.services__block-right .services__item {
	margin: 0 0 0 auto;
	flex-direction: row-reverse;
}

.services__img {
	width: 50%;
}

.services__box {
	width: 50%;
} 

.services__detail {
	display: flex;
	gap: 10px;
	margin: 70px 0 0 0;
}

.services__note {
	padding: 12px;
	font-size: 12px;
	background: #fff;
	border-radius: 8px;
}

/* testimonial */
.testimonial {
	padding: 100px;
	text-align: center;
}

.testimonial__inner {
	display: flex;
	gap: 100px;
	text-align: left;
	margin: 120px 0 0 0;
}

.testimonial__select {
	flex: 0 0 310px;
}

.testimonial__link {
	width: 310px;
	padding: 20px 30px;
	border-radius: 8px;
}

.testimonial__link-active {
	background: #2E4F21;
}

.testimonial__item {
	padding: 20px 0;
	color: #506349;
	border-top: 1px solid #7D9276;
}

.testimonial__link-active .testimonial__category {
	color: #fff;
}

.testimonial__link-active .testimonial__location {
	color: #D5E4D0;
}

.testimonial__category {
	margin: 0 0 16px 0;
	font-size: 18px;
}

.testimonial__location {
	font-size: 12px;
}

.testimonial__comment {
	flex: 1;
	padding: 0 40px;
	border-left: 1px solid #2E4F21;
}

.comment {
	display: none;
}

.comment.is-active {
	display: block;
}

.testimonial__text {
	margin: 0 0 50px 0;
	font-size: 30px;
}

.testimonial__icon {
	display: flex;
	align-items: center;
	gap: 28px;
}

.icon__img {
	width: 48px;
	margin: 0;
	border-radius: 16px;
}

/* break */
.break {
  height: 600px;
  background-image: url("../images/break-pc.jpg");
  background-size: cover;
  background-position: center;
}

/* benefits */
.benefits {
	padding: 80px 40px 120px;
	background: #fff;
}

.benefits__inner {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin: 0 0 160px 0;
}

.benefits h2 {
	width: 50%;
}

.benefits__inner p {
	width: 50%;
}

.benefits__block {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.benefits__item {
	width: calc((100% - 40px) / 3);
	padding: 20px 20px 20px 50px;
	border-left: 1px solid #2E4F21;
}

.benefits__icon {
	width: 30px;
}

.benefits__item h3,
.benefits__item p {
	margin: 30px 0 0 0;
}

/* cta */
.cta {
	padding: 50px 40px;
	background: #fff;
}

.cta__wrap {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.cta__block {
	width: 50%;
	padding: 60px;
	border-radius: 20px;
	background: #2E4F21;
	color: #fff;
}

.cta h2 {
	font-size: 40px;
	margin: 0 0 40px 0;
}

.cta .btn {
	margin: 40px 0 0 0;
	background: #fff;
	color: #2E4F21;
}

.cta .btn:hover {
	background: #A0F1BD;
}

.cta__img {
	position: relative;
	width: 50%;
}

.cta__img img {
	position: absolute;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

/* experts */
.experts {
	padding: 160px 120px;
	text-align: center;
}

.experts h2 {
	margin: 0 0 60px 0;
}

.experts .btn {
	padding: 0 30px;
	font-size: 15px;
	line-height: 63px;
}


/* footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 346px;
	padding: 32px 40px;
	background: #2E4F21;
	color: #fff;
}

.footer__block {
	display: flex;
	justify-content: space-between;
}

.footer__block a {
	width: 50%;
}

.footer__block nav {
	width: 50%;
}

footer img {
	width: 174px;
}

.footer__block .btn {
	width: 100%;
	background: #fff;
    color: #2E4F21;
}

.footer__block .btn:hover {
	background: #A0F1BD;
}

.footer__detail {
	align-items: end;
}

.footer__text,
.footer__copy {
	width: 50%;
	font-size: 12px;
}

/* ----- services ----- */
.services__more {
	background: #F9F9F9;
}

.services__more .hero__text {
	width: 50%;
}

.break-building {
	background-image: url("../images/break-building.jpg");
}

/* works */
.works {
	padding: 120px 80px;
	background: #FFF;
}

.works__inner {
	margin: 0 0 100px 0;
}

.works h2 {
    margin: 28px 0;
}

.works__item {
	display: flex;
	margin: 20px 0 0 0;
}

.works__num {
	width: 225px;
	height: 100%;
}

.works__block {
	display: flex;
	flex: 1;
}

.works__box {
	width: 50%;
	margin: 0 80px;
}

.works__box h3 {
	margin: 24px 0 28px 0;
}

.works__img {
	width: 50%;
	margin: 24px 0 80px;
}

/* philosophy */
.philosophy {
	padding: 100px 150px;
	text-align: center;
	border-top: 1px solid #C7C7C7;
	background: #FFF;
}

.philosophy h2 {
	padding: 28px 0 50px;
}

.philosophy__item {
	margin: 20px 0 0 0;
	padding: 60px 100px;
	border-radius: 20px;
	background: #D2F8DC;
}

.philosophy__text {
	margin: 40px 0 0 0;
	font-size: 30px;
}

/* connect */
.connect {
	padding: 80px 40px;
	background: #F4F7F5;
}

.connect__wrap {
	display: flex;
	align-items: center;
}

.connect__block {
	width: 50%;
	padding: 0 60px;
	text-align: center;
}

.connect__block a {
	line-height: 1;
	margin: 60px 0 0 0;
	padding: 24px 30px;
}

.connect img {
	width: 50%;
}

/* ----- booking ----- */
.booking__header {
	background: #D2F8DC;
}

.booking__main {
	background: #D2F8DC;
}

.book {
	padding: 80px 40px;	
}

.book .hero__wrap {
	gap: 100px;
}

.book__img {
	width: 40%;
}

.book .btn {
	margin: 50px 0 0 0;
}

@media (max-width: 1279px) {
	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 34px;
		margin: 0 0 24px 0;
	}
	
	/* header */
	header {
		height: 85px;
		padding: 0 24px;
	}

	/* hero */
	.hero {
		padding: 100px 24px;
	}

	.hero__wrap {
		gap: 24px;
	}

	.hero__title {
		font-size: 58px;
	}

	/* services */
	.services__inner {
		padding: 120px 24px 100px;
	}

	/* services item */
	.services__item {
		gap: 60px;
		width: 100%;
		padding: 64px 50px;
	}

	.services__detail {
		margin: 54px 0 0 0;
	}

	/* testimonial */
	.testimonial__inner {
		gap: 28px;
	}

	.testimonial__comment {
		padding: 0 30px 0 40px;
	}

	.testimonial__text {
		font-size: 24px;
	}

	/* break */
	.break {
		height: 533px;
	}

	/* benefits */
	.benefits__inner {
		margin: 0 0 100px 0;
	}

	.benefits__block {
		display: block;
	}

	.benefits__item {
		width: 100%;
		padding: 20px 0;
		border-top: 1px solid #2E4F21;
		border-left: none;
	}

	.benefits__item h3 {
		font-size: 26px;
	}

	.benefits__item p {
		width: 80%;
	}

	/* cta */
	.cta h2 {
		font-size: 34px;
	}

	/* experts */
	.experts {
		padding: 160px 80px;
	}

	/* footer */
	.footer__block {
		gap: 80px;
	}

	.nav__list {
		justify-content: space-between;
	}

	/* ----- services ----- */
	.services__more {
		padding: 100px 40px;
	}

	/* works */
	.works__item {
		display: block;
	}

	.works__block {
		display: block;
		padding: 24px 24px 80px;
	}
	
	.works__box {
		width: 100%;
		margin: 0;
	}

	.works__box h3 {
		margin: 0 0 28px 0;
	}

	.works__img {
		width: 100%;
		margin: 70px 0 0 0;
	}

	/* philosophy */
	.philosophy {
		padding: 80px 40px;
	}

	.philosophy__item {
		padding: 60px 40px;
	}

	.philosophy__text {
		font-size: 26px;
	}

	/* connect */
	.connect__wrap {
		gap: 24px;
	}

	.connect__block {
		padding: 0;
	}

	/* ----- booking ----- */
	.book .hero__wrap {
		gap: 32px;
	}
}

@media (max-width: 799px) {
	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 28px;
	}
	
	img {
		display: block;
		max-width: 500px;
		margin: 0 auto;
	}

	/* header */
	header {
		height: 69px;
		padding: 0 16px;
	}

	header .logo img {
		height: 11px;
	}

	.nav__list {
		gap: 16px;
	}

	.pc-only {
		display: none;
	}

	.sp-only {
		display: inline;
	}
	
	/* hero */
	.hero {
		padding: 40px 16px;
	}

	.hero__wrap {
		flex-direction: column-reverse;
		gap: 40px;
	}

	.hero__text {
		width: 100%;
	}

	.hero__title {
		font-size: 40px;
	}

	.hero__wrap p {
		margin: 16px 0 0 0;
	}

	.hero a {
		margin: 40px 0 0 0;
	}

	.hero__img {
		width: 100%;
	}

	/* services */
	.services__inner {
		padding: 120px 16px 100px;
	}

	/* services item */
	.services__block {
		padding: 0 16px 16px;
	}

	.services__item {
		display: block;
		padding: 40px 16px;
	}

	.services__img {
        width: 100%;
    }

	.services__box {
		width: 100%;
		margin: 70px 0 0 0;
	}

	.services__detail {
		margin: 70px 0 0 0;
	}

	/* testimonial */
	.testimonial {
		padding: 36px;
	}

	.testimonial__wrap {
		padding: 24px 16px;
		background: #fff;
	}

	.testimonial__inner {
		display: block;
		margin: 40px 0 0 0;
	}

	.testimonial__select {
		display: flex;
	}

	.testimonial__link {
		display: grid;
		width: calc(100% / 3);
		padding: 16px 12px;
	}

	.testimonial__item {
		padding: 0;
		word-break: break-word;
		letter-spacing: -0.06em;
	}

	.testimonial__category {
		margin: 8px 0;
		font-size: 12px;
	}

	.testimonial__location {
		font-size: 12px;
		color: #7D9276;
	}

	.testimonial__comment {
		padding: 0;
		border-left: unset;
	}

	.testimonial__text {
		margin: 40px 0 50px 0;
		font-size: 18px;
	}

	/* break */
	.break {
		height: 250px;
	}

	/* benefits */
	.benefits {
		padding: 80px 16px;
	}

	.benefits__inner {
		display: block;
		margin: 0 0 80px 0;
	}

	.benefits h2 {
		width: 100%;
		margin: 0 0 32px 0;
	}

	.benefits__inner p {
		width: 100%;
	}

	.benefits__icon {
		display: inline-block;
	}

	.benefits h3 {
		font-size: 48px;
		margin: 30px 0 20px;
	}

	.benefits__item h3 {
		font-size: 22px;
	}

	.benefits__item p {
		width: 100%;
		margin: 30px 0 20px;
	}

	/* cta */
	.cta__wrap {
    	flex-direction: column-reverse;
	}

	.cta h2 {
		font-size: 28px;
	}

	.cta__block {
		width: 100%;
	}

	.cta__img {
		width: 100%;
		height: 300px;
	}

	.cta img {
		width: 100%;
		max-width: unset;
	}

	/* experts */
	.experts {
		padding: 160px 24px;
	}

	/* footer */
	footer {
		padding: 32px 24px;
	}

	footer img {
		display: inline-block;
	}

	.footer__block {
		display: block;
	}

	.footer__block nav {
		width: 100%;
		margin: 80px 0 0 0;
	}

	.footer__text,
	.footer__copy {
		width: 100%;
	}

	.footer__text {
		margin: 0 0 24px 0;
	}

	/* ----- services ----- */
	.services__more {
		padding: 68px 40px;
	}

	.services__more .hero__wrap {
		gap: 24px;
	}
	
	.services__more .hero__text {
		width: 100%;
	}

	/* works */
	.works {
		padding: 120px 24px;
	}

	.works__num {
		width: 118px;
		margin: 0 0 40px 0;
	}

	.works__block {
		padding: 24px;
	}

	/* philosophy */
	.philosophy {
		padding: 80px 24px;
	}

	.philosophy__item {
		padding: 60px 24px;
	}

	.philosophy__text {
		font-size: 22px;
	}

	/* connect */
	.connect {
		padding: 80px 24px;
	}
	
	.connect__wrap {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.connect__block {
		width: 100%;
		padding: 60px 24px;
	}

	.connect__wrap img {
		width: 100%;
	}

	/* ----- booking ----- */
	.book {
		padding: 80px 16px;
	}

	.book .hero__wrap {
		gap: 40px;
		flex-direction: column;
	}

	.book__img {
		width: 100%;
	}

	.book .btn {
		margin: 28px 0 0 0;
	}
}